.vlx-login { width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center; background-color: #d2d2d2; }
.vlx-login .container { display: flex; justify-content: center; align-items: center; }
.vlx-login .container .inner { min-width: 450px; display: flex; justify-content: center; align-items: center; }
.vlx-login .container .inner h3 { text-align: left; margin-top: 10px; }
.vlx-login .container .inner h3, h1, a { color: #202020 !important; }
.vlx-login .container .inner a { opacity: .6; }
.vlx-login .container .inner .btn-group { flex-direction: column; gap: 10px; }
.vlx-login .container .inner input {font-size: 20px !important; }